In [73]:
#xiaomi garantili -1
#apple garantili-2
#samsung garantili-3
#resmi distrübitör-4
#genpa-5

#xiaomi - 1
#iphone- 2
#samsung- 3 
#reeder- 4

In [74]:
import pandas as pd
import numpy as np

In [75]:
data = pd.read_csv("C:/Users/hakan/source/repos/machine_learning/phone_data.csv")

In [76]:
df=pd.DataFrame()

In [77]:
data.head()

,Unnamed: 0,Model,Hafiza,Ekran_Boyutu,Garanti,Kamera_Cozunurluk,Baglanti_Hizi,Pil_Gucu,RAM,Fiyat
0,0,1,128.0,7.0,1.0,50.0,4.5,5000.0,8.0,7549.0
1,1,1,128.0,7.0,1.0,20.0,4.5,4000.0,4.0,5149.0
2,2,2,128.0,6.1,2.0,0.0,4.5,2815.0,4.0,28499.0
3,3,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2949.0
4,4,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2955.0

In [78]:
df['Model']=data['Model']
df['Hafiza']=data['Hafiza']
df['Ekran_Boyutu']=data['Ekran_Boyutu']
df['Garanti']=data['Garanti']
df['Kamera_Cozunurluk']=data['Kamera_Cozunurluk']
df['Baglanti_Hizi']=data['Baglanti_Hizi']
df['Pil_Gucu']=data['Pil_Gucu']
df['RAM']=data['RAM']
df['Fiyat']=data['Fiyat']

In [79]:
df

,Model,Hafiza,Ekran_Boyutu,Garanti,Kamera_Cozunurluk,Baglanti_Hizi,Pil_Gucu,RAM,Fiyat
0,1,128.0,7.0,1.0,50.0,4.5,5000.0,8.0,7549.0
1,1,128.0,7.0,1.0,20.0,4.5,4000.0,4.0,5149.0
2,2,128.0,6.1,2.0,0.0,4.5,2815.0,4.0,28499.0
3,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2949.0
4,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2955.0
...,...,...,...,...,...,...,...,...,...
619,2,256.0,6.1,2.0,20.0,5.0,3500.0,6.0,54999.0
620,1,256.0,6.6,1.0,108.0,4.5,5000.0,8.0,12499.0
621,4,32.0,24.5,4.0,0.0,4.5,750.0,2.0,2199.0
622,3,256.0,6.6,3.0,48.0,5.0,5000.0,8.0,11779.0
623,1,128.0,6.6,4.0,64.0,4.5,4500.0,8.0,8799.0

In [68]:
# "Unnamed: 0" sütununu kaldır
df = df.drop(columns=['Unnamed: 0'], errors='ignore')
df = df.drop(columns=['Marka'], errors='ignore')

In [80]:
df

,Model,Hafiza,Ekran_Boyutu,Garanti,Kamera_Cozunurluk,Baglanti_Hizi,Pil_Gucu,RAM,Fiyat
0,1,128.0,7.0,1.0,50.0,4.5,5000.0,8.0,7549.0
1,1,128.0,7.0,1.0,20.0,4.5,4000.0,4.0,5149.0
2,2,128.0,6.1,2.0,0.0,4.5,2815.0,4.0,28499.0
3,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2949.0
4,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2955.0
...,...,...,...,...,...,...,...,...,...
619,2,256.0,6.1,2.0,20.0,5.0,3500.0,6.0,54999.0
620,1,256.0,6.6,1.0,108.0,4.5,5000.0,8.0,12499.0
621,4,32.0,24.5,4.0,0.0,4.5,750.0,2.0,2199.0
622,3,256.0,6.6,3.0,48.0,5.0,5000.0,8.0,11779.0
623,1,128.0,6.6,4.0,64.0,4.5,4500.0,8.0,8799.0

In [53]:
df.to_csv(r"C:\Users\hakan\source\repos\machine_learning\phone_data.csv")

In [81]:
x=df.iloc[:, 0:8].values
y=df.iloc[:, 8].values
y=y.reshape(-1,1)

In [82]:
df['Model'].value_counts()

Model
1    254
2    159
4    133
3     78
Name: count, dtype: int64

In [83]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()

In [186]:
print(df.columns)

Index(['Model', 'Hafiza', 'Ekran_Boyutu', 'Garanti', 'Kamera_Cozunurluk',
       'Baglanti_Hizi', 'Pil_Gucu', 'RAM', 'On_Kamera_Sayisi',
       'On_Kamera_Cozunurluk', 'Fiyat'],
      dtype='object')

In [84]:
print(df['Model'].isnull().values.any())
print(df['Hafiza'].isnull().values.any())
print(df['Ekran_Boyutu'].isnull().values.any())
print(df['Garanti'].isnull().values.any())
print(df['Kamera_Cozunurluk'].isnull().values.any())
print(df['Baglanti_Hizi'].isnull().values.any())
print(df['Pil_Gucu'].isnull().values.any())
print(df['RAM'].isnull().values.any())
print(df['Fiyat'].isnull().values.any())

False
False
False
False
False
False
False
False
False

In [85]:
df

,Model,Hafiza,Ekran_Boyutu,Garanti,Kamera_Cozunurluk,Baglanti_Hizi,Pil_Gucu,RAM,Fiyat
0,1,128.0,7.0,1.0,50.0,4.5,5000.0,8.0,7549.0
1,1,128.0,7.0,1.0,20.0,4.5,4000.0,4.0,5149.0
2,2,128.0,6.1,2.0,0.0,4.5,2815.0,4.0,28499.0
3,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2949.0
4,4,128.0,7.0,5.0,0.0,4.5,5000.0,4.0,2955.0
...,...,...,...,...,...,...,...,...,...
619,2,256.0,6.1,2.0,20.0,5.0,3500.0,6.0,54999.0
620,1,256.0,6.6,1.0,108.0,4.5,5000.0,8.0,12499.0
621,4,32.0,24.5,4.0,0.0,4.5,750.0,2.0,2199.0
622,3,256.0,6.6,3.0,48.0,5.0,5000.0,8.0,11779.0
623,1,128.0,6.6,4.0,64.0,4.5,4500.0,8.0,8799.0

In [86]:
df.to_csv(r"C:\Users\hakan\source\repos\machine_learning\phone_data1.csv",index=False)